.table-row {
    font-size: 1.1rem;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 3.5rem;
    align-items: center;
}

.table-row__items {
    list-style-type: none;
    display: flex;
    margin-right: 2rem;
    flex-direction: row;
    justify-content: flex-start;
}

.table-row__item {
    text-decoration: none;
    text-align: center;
    margin: 1rem auto;
}

.table-row__link {
    color: var(--secondary-font-color);
    margin-left: 4rem;
}

.table-row__date {
    margin-right: 1rem;
}

