.login__google-btn {
    margin: 25px;
    width: 80%;
    min-width: 184px;
    max-width: 184px;
    height: 42px;
    background-color: #fcfcfc;
    border-radius: 2px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .2);
    align-self: center;
    user-select: none;
    transition: all 400ms ease 0s;
    display: flex;
}

.login__google-icon__svg {
    position: absolute;
    margin-top: 11px;
    margin-left: 11px;
    width: 18px;
    height: 18px;
    user-select: none
}

.login__google-btn__text {
    float: right;
    margin: 11px 14px 40px 40px;
    color: #757575;
    font-size: 14px;
    font-family: Roboto, serif;
    user-select: none
}

.login__google-btn:hover {
    box-shadow: 0 3px 8px rgba(117, 117, 117, .5);
    user-select: none
}

.login__google-btn:active {
    box-shadow: 0 1px 1px #757575;
    background: #F8F8F8;
    color: #fff;
    user-select: none
}

.login__container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 6.25rem;
    margin: auto;
    width: 6.25rem;
    height: 6.25rem;
}

.login__text {
    color: var(--secondary-font-color);
    text-align: center;
    margin-left: .5rem;
}
