.projects-menu {
    font-size: 1.1rem;
    background-color: var(--main-color);
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 3.5rem;
    align-items: center;
}
.projects-menu__items {
    list-style-type: none;
    display: flex;
    margin-right: 2rem;
    flex-direction: row;
    justify-content: flex-start;
}
.projects-menu__item {
    text-decoration: none;
    text-align: center;
    margin: 1rem auto;
}

.projects-menu__settings {
    color: var(--main-font-color);
    display: flex;
    font-size: 1.6rem;
    margin-right: 2rem;
}

.projects-menu__link {
    color: var(--main-font-color);
    margin-left: 4rem;
}